<div class="container">
  <div class="row mt-5">
    <!-- spacing -->
    <div class="col-md-1"></div>
    <!--
    Avatar display
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                  -->
    <div class="col-md-5 text-center" id="boojiDiv">
      <h1 class="text-white">Upgrade Your Boojiwoo:</h1>
      {{> avatar/avatar-image }}
    </div>
    <!--
    Store display
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
    -->
    <div class="col-md-5 text-center" id="buttonDiv">
      <h4 class="text-white">You have <span id="points">{{ user.user.points }}</span> Woopoints. Complete tasks to earn points and unlock upgrades for your Boojiwoo!</h2>
      <!--
      Body carousel
      ‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                                              -->
      <h3 class="text-white mt-4">Body color:</h3>
      <div id="bodyCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          {{#each swag}}
            {{#if isBody}}
              <div class="carousel-item {{#if firstOfType}}active{{/if}}">
                <img class="d-block w-100" src="{{displayPath}}" alt="First slide">
                <button
                  {{#if owned}}
                    class="btn btn-success btn-block whiteborder mt-2 upgrade"
                  {{else if canAfford}}
                    class="btn btn-secondary btn-block whiteborder mt-2 buy-button"
                  {{else}}
                    class="btn btn-dark btn-block whiteborder mt-2 not-yet"
                  {{/if}}
                  data-swagid="{{swagId}}"
                  data-swagtype='{{swagType}}'
                  data-costpoints='{{pointCost}}'
                  data-userpoints='{{userPoints}}'
                  data-filename='{{fileName}}'
                  data-description='{{description}}'>
                  {{#if owned}}Use this {{swagType}}
                  {{else if canAfford}}Buy for {{pointCost}} Woopoints
                  {{else}}{{pointCost}} Woopoints. Complete more tasks!
                  {{/if}}
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
        <a class="carousel-control-prev bodyClick" href="#bodyCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bodyClick" href="#bodyCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!--
      Eye carousel
      ‾‾‾‾‾‾‾‾‾‾‾‾‾                                                               -->
      <h3 class="text-white mt-4">Eyes:</h3>
      <div id="eyesCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          {{#each swag}}
            {{#if isEyes}}
              <div class="carousel-item {{#if firstOfType}}active{{/if}}">
                <img class="d-block w-100" src="{{displayPath}}" alt="First slide">
                <button
                  {{#if owned}}
                    class="btn btn-success btn-block whiteborder mt-2 upgrade"
                  {{else if canAfford}}
                    class="btn btn-secondary btn-block whiteborder mt-2 buy-button"
                  {{else}}
                    class="btn btn-dark btn-block whiteborder mt-2 not-yet"
                  {{/if}}
                  data-swagid="{{swagId}}"
                  data-swagtype='{{swagType}}'
                  data-costpoints='{{pointCost}}'
                  data-userpoints='{{userPoints}}'
                  data-filename='{{fileName}}'
                  data-description='{{description}}'>
                  {{#if owned}}Use these {{swagType}}
                  {{else if canAfford}}Buy for {{pointCost}} Woopoints
                  {{else}}{{pointCost}} Woopoints. Complete more tasks!
                  {{/if}}
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
        <a class="carousel-control-prev bodyClick" href="#eyesCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bodyClick" href="#eyesCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!--
      Mouth carousel
      ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                                             -->
      <h3 class="text-white mt-4">Mouth:</h3>
      <div id="mouthCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          {{#each swag}}
            {{#if isMouth}}
              <div class="carousel-item {{#if firstOfType}}active{{/if}}">
                <img class="d-block w-100" src="{{displayPath}}" alt="First slide">
                <button
                  {{#if owned}}
                    class="btn btn-success btn-block whiteborder mt-2 upgrade"
                  {{else if canAfford}}
                    class="btn btn-secondary btn-block whiteborder mt-2 buy-button"
                  {{else}}
                    class="btn btn-dark btn-block whiteborder mt-2 not-yet"
                  {{/if}}
                  data-swagid="{{swagId}}"
                  data-swagtype='{{swagType}}'
                  data-costpoints='{{pointCost}}'
                  data-userpoints='{{userPoints}}'
                  data-filename='{{fileName}}'
                  data-description='{{description}}'>
                  {{#if owned}}Use this {{swagType}}
                  {{else if canAfford}}Buy for {{pointCost}} Woopoints
                  {{else}}{{pointCost}} Woopoints. Complete more tasks!
                  {{/if}}
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
        <a class="carousel-control-prev bodyClick" href="#mouthCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bodyClick" href="#mouthCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!--
      Outfit carousel
      ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾                                                            -->
      <h3 class="text-white mt-4">Outfit:</h3>
      <div id="outfitCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          {{#each swag}}
            {{#if isOutfit}}
              <div class="carousel-item {{#if firstOfType}}active{{/if}}">
                <img class="d-block w-100" src="{{displayPath}}" alt="First slide">
                <button
                  {{#if owned}}
                    class="btn btn-success btn-block whiteborder mt-2 upgrade"
                  {{else if canAfford}}
                    class="btn btn-secondary btn-block whiteborder mt-2 buy-button"
                  {{else}}
                    class="btn btn-dark btn-block whiteborder mt-2 not-yet"
                  {{/if}}
                  data-swagid="{{swagId}}"
                  data-swagtype='{{swagType}}'
                  data-costpoints='{{pointCost}}'
                  data-userpoints='{{userPoints}}'
                  data-filename='{{fileName}}'
                  data-description='{{description}}'>
                  {{#if owned}}Use this {{swagType}}
                  {{else if canAfford}}Buy for {{pointCost}} Woopoints
                  {{else}}{{pointCost}} Woopoints. Complete more tasks!
                  {{/if}}
                </button>
              </div>
            {{/if}}
          {{/each}}

        </div>
        <a class="carousel-control-prev bodyClick" href="#outfitCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bodyClick" href="#outfitCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <!-- spacing -->
    <div class="col-md-1"></div>
  </div>


  <!--
  Footer
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾          -->
  {{> nav/nav-footer }}
</div> <!-- close container -->

<!-- Task Acknowledgement Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sorry, you need <span id="pointsNeeded"></span> more Woopoints to access this item. Keep doing tasks to earn more Woopoints!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>